.photo-preview {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Default height for small screens (up to 600px) */
@media (max-width: 600px) {
  .photo-preview {
    height: 200px; /* Adjust the height as needed */
    max-height: 200px; /* Adjust the height as needed */
  }
}

/* Larger height for medium screens (600px to 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .photo-preview {
    height: 300px; /* Adjust the height as needed */
    max-height: 300px; /* Adjust the height as needed */
  }
}

/* Even larger height for large screens (1024px and above) */
@media (min-width: 1025px) {
  .photo-preview {
    height: 400px; /* Adjust the height as needed */
    max-height: 400px; /* Adjust the height as needed */
  }
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  width: 100%;
}

.button-container > ion-button {
  flex: 1;
}
